* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #000000;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 25px;
    gap: 30px;
}

.title {
    color: white;
}

.input {
    border: none;
    outline: none;
    max-width: 200px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 18px;
}

.btn {
    background: greenyellow;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
}

.btn:hover {
    background: rgb(101, 148, 30);
}

.game__box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgb(208, 0, 255);
    position: relative;
    background: #200138;
}

.result {
    color: rgb(38, 255, 0);
}

.ball {
    border-radius: 50%;
    position: absolute;
}
